<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Random Messages</title>

    <link rel="stylesheet" href="/public/random-message/styles.css">
</head>

<body>
<h1>Bem vindo ao random-message</h1>
<p>Clique no botão abaixo para revelar uma mensagem aleatória, ou deixe sua mensagem para o próximo usuário</p>

<button id="revelButton" onclick="reveal()">Revelar</button>
<br/>
<button onclick="createMessage()">Escreva uma mensagem</button>
<br/>
<h3 id="reveledMessage"></h3>

<!-- Project -->
<script src="/public/random-message/script.js"></script>
</body>
</html>